
.flash-box{
  color: $white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  .notice{
    background-color: $light_blue;
  }
}

.side-bar{
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;
  float: left;
  .header{
    height: 100px;
    background-color: #253141;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    &__box{
      height: 24px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &__name{
        color: $white;
        font-weight: bold;
        font-size: 16px;
    }
    &__lists{
      display: flex;
      list-style: none;
      color: $white;
    }
    &__list{
      margin-left: 0.3rem; 
    } 
  }
    .icon{
    color: $white;
    font-size: 16px;
    line-height: 24px;
  }
}
.groups{
  padding: 20px 20px 0;
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  box-sizing: border-box;
  .group{
    height: 45px;
    margin: 0 0 40px;
    &__name{
      height: 23px;
      color: $white;
      font-size: 15px;
    }
    &__message{
      height: 23px;
      color: $white;
      font-size: 11px;
      padding-top: 5px;
    }
  }
}

.chat-main{
  width: calc(100vw - 300px);
  float: left;
  .main-header{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $white;
    &__left-box{
      margin-top: 35px;
    }
    &__left-box__current-group{
      font-size: 20px;
      color: #333;
      margin-bottom: 15px;
    }
    &__left-box__member-list{
      display: flex;
      font-size: 12px;
      color: #999999;
      list-style: none;
    }
    &__edit-btn{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $light_blue;
      color: $light_blue;
    }
  }
  .messages{
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    box-sizing: border-box;
    overflow: scroll;
  }
  .message{
    padding-bottom: 40px;
    &__upper-info{
      display: flex;
      margin-bottom: 10px;
    }
    &__upper-info__talker{
      color: #434a54;
      font-size: 16px;
      font-weight: bold;
    }
    &__upper-info__date{
      color: #999999;
      font-size: 12px;
      margin-left: 10px;
    }
    &__text{
      color: #434e54;
      font-size: 14px;
      margin-bottom: 10px;
    }
    &__image{
      width: 200px;
      height: auto;
    }
  }
}

.form{
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
  box-sizing: border-box;
  .new-message{
    display: flex;
    .form__mask{
      width: 100%;
      position: relative;
      .form__message{
        height: 50px;
        width: 100%;
        padding: 0 0 0 10px;
        color: #434a54;
        border-style: none;
      }
      .form__mask__image{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.3rem;
        .icon{

        }
        .hidden{
          display: none;
        }
      }
    }
    .form__submit{
      width: 100px;
      height: 50px;
      padding: 0px 30px;
      margin-left: 25px;
      background-color: $light_blue;
      color: $white;
      box-sizing: border-box;
    }
  }
}